<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__link">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__link">About</a>
      </li>
    </ul>
  </div>
</div>

<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.6130623376753!2d-122.41449268482489!3d37.79910687975495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580e839d7e541%3A0xf89b6220c55337a7!2zR3JlZW4gU3QsIFNhbiBGcmFuY2lzY28sIENBIDk0MTMzLCDQodCo0JA!5e0!3m2!1sru!2skz!4v1666259961619!5m2!1sru!2skz"
          width="100%" height="578" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<section class="contact">
  <div class="container">
    <h3 class="contact__title">Contact Us</h3>
    <div class="contact__content">
      <ul class="contact__social">
        <li class="contact__social-item">
          <a class="contact__social-link" href="">
            <img class="contact__social-img" src="assets/images/facebook.svg" alt="images">
          </a>
        </li>
        <li class="contact__social-item">
          <a class="contact__social-link" href="">
            <img class="contact__social-img" src="assets/images/instagram.svg" alt="images">
          </a>
        </li>
        <li class="contact__social-item">
          <a class="contact__social-link" href="">
            <img class="contact__social-img" src="assets/images/pinterest.svg" alt="images">
          </a>
        </li>
        <li class="contact__social-item">
          <a class="contact__social-link" href="">
            <img class="contact__social-img" src="assets/images/whatsapp.svg" alt="images">
          </a>
        </li>
        <li class="contact__social-item">
          <a class="contact__social-link" href="">
            <img class="contact__social-img" src="assets/images/youtube.svg" alt="images">
          </a>
        </li>
      </ul>
      <p class="contact__text">
        Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee
        street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa
        fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock
      </p>
      <a class="contact__phone" href="tel:+1415829-7934">(415) 829-7934</a>
      <div class="contact__st">725 Green St</div>
      <div class="contact__city">San Francisco, California(CA), 94133</div>
      <a class="info-email" href="mailto:ouremailaddress@email.com">
        ouremailaddress@email.com
      </a>
      <form class="contact__form" action="">
        <input class="contact__form-input" placeholder="Your name" type="text">
        <input class="contact__form-input" placeholder="Your email" type="email">
        <textarea class="contact__form-area" placeholder="Your message"></textarea>
        <button class="contact__form-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="contact__slider">

    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/1.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/2.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/3.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/4.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/5.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/6.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/7.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/8.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/9.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/10.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/1.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/2.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/3.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/4.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/5.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/6.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/7.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/8.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/9.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/10.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/1.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/2.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/3.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/4.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/5.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/6.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/7.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/8.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/9.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
    <a class="contact__slider-link" href="">
      <img class="contact__slider-img" src="assets/images/slider/10.jpg" alt="">
      <p class="contact__slider-title">
        Truffaut literally trust
      </p>
    </a>
  </div>
</div>
