<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__link">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__link">Blog</a>
      </li>
    </ul>
  </div>
</div>

<section class="blog">
  <div class="container">
    <div class="blog__inner">
      <div class="blog__content">
        <div class="blog__content-items">
          <div class="blog__content-item">
            <img class="blog__content-img" src="assets/images/blog2/1.jpg" alt="">
            <div class="blog__content-info">
              <div class="blog__content-date">August 15, 2020</div>
              |
              <a class="blog__content-by" href="#">by Ann Summers</a>
              |
              <div class="blog__content-desc">Bedroom Furniture</div>
            </div>
            <h4 class="blog__content-title">
              Red selfies edison bulb four dollar toast humblebrag for the furniture
            </h4>
            <p class="blog__content-text">
              Everyday carry actually neutra authentic kogi shabby chic migas small batch craft
              beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af
              man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard
              thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison
              bulb farm-to-table
            </p>
          </div>
          <div class="blog__content-item">
            <div class="about__popup">
              <a class="about__popup-play" data-fancybox href="https://youtu.be/3z7TRd7tzhE">
                <img class="about__popup-imgbtn" src="assets/images/play.svg" alt="play">
              </a>
            </div>
            <div class="blog__content-info">
              <div class="blog__content-date">August 12, 2020</div>
              |
              <a class="blog__content-by" href="#">by Lux Morningstar</a>
              |
              <div class="blog__content-desc">Design</div>
            </div>
            <h4 class="blog__content-title">
              Red selfies edison bulb four dollar toast humblebrag for the furniture
            </h4>
          </div>

          <div class="blog__content-avtor">
            <p class="blog__content-avtortext">
              “Simplicity is not the goal. It is the by-product of a good idea and modest
              expectations”
            </p>
            <div class="blog__content-avtorname">Paul Rand</div>
          </div>

          <div class="blog__content-item">
            <img class="blog__content-img" src="assets/images/blog2/1.jpg" alt="">
            <div class="blog__content-info">
              <div class="blog__content-date">August 18, 2020</div>
              |
              <a class="blog__content-by" href="#">by Ann Summers</a>
              |
              <div class="blog__content-desc">Table Furniture</div>
            </div>
            <h4 class="blog__content-title">
              Semiotics fixie four dollar toast, next level woke
            </h4>
            <p class="blog__content-text">
              Everyday carry actually neutra authentic kogi shabby chic migas small batch craft
              beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af
              man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard
              thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison
              bulb farm-to-table
            </p>
          </div>
        </div>
      </div>
      <aside class="aside">
        <form class="aside__search" action="#">
          <input class="aside__search-input" type="text" placeholder="Search">
          <button class="aside__search-btn" type="submit">
            <img src="assets/images/search-icon.svg" alt="search">
          </button>
        </form>
        <div class="blog__category">
          <h6 class="blog__category-title">Categories</h6>
          <ul class="blog__category-list">
            <li class="blog__category-item">
              <a class="blog__category-link" href="">
                Dining room (1)
              </a>
            </li>
            <li class="blog__category-item">
              <a class="blog__category-link" href="">
                Office furniture (12)
              </a>
            </li>
            <li class="blog__category-item">
              <a class="blog__category-link" href="">
                Simple interiror design (2)
              </a>
            </li>
            <li class="blog__category-item">
              <a class="blog__category-link" href="">
                Design (4)
              </a>
            </li>
            <li class="blog__category-item">
              <a class="blog__category-link" href="">
                Bedroom Furniture (1)
              </a>
            </li>
          </ul>
        </div>

        <div class="resent-posts">
          <h6 class="resent-posts__title">
            Recent Posts
          </h6>
          <ul class="resent-posts__list">
            <li class="resent-posts__item">
              <a class="resent-posts__item-title" href="">Cred selfies edison bulb four dollar
                toast humblebrag</a>
              <span class="resent-posts__date">August 10, 2020</span>
              <a class="resent-posts__author" href="">by Ann Summers</a>|
            </li>
            <li class="resent-posts__item">
              <a class="resent-posts__item-title" href="">Semiotics fixie four dollar toast, next
                level woke scenester direct trade photo booth</a>
              <span class="resent-posts__date">September 30 ,2020</span>
              <a class="resent-posts__author" href="">by Ann Summers</a>|
            </li>
            <li class="resent-posts__item">
              <a class="resent-posts__item-title" href="">Cred selfies edison bulb four dollar
                toast humblebrag</a>
              <span class="resent-posts__date">May 2, 2020</span>
              <a class="resent-posts__author" href="">by Ann Summers</a>|
            </li>
          </ul>
        </div>


        <div class="blog__tags">
          <h6 class="blog__tags-title">
            Tags
          </h6>
          <a class="blog__tags-link" href="">Dining room futniture</a>
          <a class="blog__tags-link" href="">Chair</a>
          <a class="blog__tags-link" href="">Table</a>
          <a class="blog__tags-link" href="">Bedroom</a>
          <a class="blog__tags-link" href="">Office Furniture</a>
        </div>

        <ul class="blog__social">
          <li class="blog__social-item">
            <a class="blog__social-link" href="">
              <img class="blog__social-img" src="assets/images/facebook.svg" alt="images">
            </a>
          </li>
          <li class="blog__social-item">
            <a class="blog__social-link" href="">
              <img class="blog__social-img" src="assets/images/instagram.svg" alt="images">
            </a>
          </li>
          <li class="blog__social-item">
            <a class="blog__social-link" href="">
              <img class="blog__social-img" src="assets/images/pinterest.svg" alt="images">
            </a>
          </li>
          <li class="blog__social-item">
            <a class="blog__social-link" href="">
              <img class="blog__social-img" src="assets/images/whatsapp.svg" alt="images">
            </a>
          </li>
          <li class="blog__social-item">
            <a class="blog__social-link" href="">
              <img class="blog__social-img" src="assets/images/twitter.svg" alt="images">
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</section>
